//Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

//Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
li{
    list-style-type:none;
}
ul,p,a{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6, p{
    font-style: normal;
}
img{
    max-width: 100%;
    height: auto;
}

